<div class="min-h-full px-10 pt-8">
  <div class="w-full" id="calendar-container">
    <div class="w-full grid grid-cols-10 pb-10" id="calendar-header">
      <div (click)="previousMonth()" class="arrow-button col-start-1 col-end-3"
           id="left-arrow">
        <icon-leftarrow [height]="12" [width]="12"></icon-leftarrow>
      </div>
      <div class="flex justify-center items-center xl:text-7xl lg:text-5xl sm:text-4xl text-xl col-start-3 col-end-9"
           id="month-year">
        <h1>{{month + " - " + year}}</h1>
      </div>
      <div (click)="nextMonth()" class="arrow-button col-start-9 col-end-11" id="right-arrow">
        <icon-rightarrow [height]="12" [width]="12"></icon-rightarrow>
      </div>
    </div>
    <div class="grid grid-cols-7 gap-2" id="calendar-body">
      <div *ngFor="let day of this.monthDays" id="calendar-day-cell">
        <div
          id="single-day-cell"
          [ngClass]="
        day.workday ? 'logged-day' :
        day.outerMonths ? 'outer-months-day' :
        isNotWorkingDay(day) ? 'not-working-day' :
        'working-day'" class="text-2xl"
          (click)="openDay(day)"
        >
          <p class="pb-2">{{day.dayName}}</p>
          <p class="text-5xl">{{day.monthDayNumber}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
