<nav class='nav-bar w-full'>
  <div class='nav-bar-container w-full'>
    <div class='nav-bar-sub-container w-full'>
      <div class='dialog-close'>
        <icon-time class='text-primary'></icon-time>
        <span class='font-medium px-2'>Jaewa Timesheet</span>
      </div>
      <div class='flex items-center gap-x-5'>
        <app-dark-mode-switch [checked]='checked'></app-dark-mode-switch>
        <app-dropdown [menuOptions]='dropdownOptions' [menuTitle]='account?.username'></app-dropdown>
      </div>
    </div>
  </div>
</nav>
