<nav class='nav-bar'>
  <div class='w-full flex items-center justify-between px-6'>
    <div class='w-full flex justify-between'>
      <div class='flex items-center'>
        <icon-time class='text-primary'></icon-time>
        <span class='font-medium px-2'>Jaewa Timesheet</span>
      </div>
      <div class='flex items-center gap-x-5'>
        <button (click)='changeTheme()' class='h-10'>
          <icon-sun *ngIf='checked'></icon-sun>
          <icon-night-hours *ngIf='!checked'></icon-night-hours>
        </button>
        <app-dropdown [menuOptions]='dropdownOptions' [menuTitle]='account?.username'></app-dropdown>
      </div>
    </div>
  </div>
</nav>
