<div id="alert-list">
  <div *ngFor="let alert of alertList" class="fixed z-50 w-1/2 left-1/4 my-5" role="alert">
    <div class="bg-white border-gray-300 border p-3 shadow-lg">
      <div class="flex flex-row">
        <div *ngIf="alert.type === 'primary'" class="px-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 stroke-[#44C997]" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="3">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </div>
        <div *ngIf="alert.type === 'alert'" class="px-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 stroke-[#FF1818]" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="3">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </div>
        <div *ngIf="alert.type === 'warning'" class="px-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 stroke-[#F5E800]" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="3">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
          </svg>
        </div>
        <div *ngIf="alert.type === 'info'" class="px-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 stroke-[#189AFF]" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </div>
        <div class="ml-2 mr-6">
          <span class="font-semibold">{{alert.msg}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

