<!-- Title and close -->
<div class='missing-hours-dialog-container'>
  <div class='dialog-close'>
    <icon-close (click)='back()' [height]='10' [width]='10' class='ml-auto cursor-pointer'></icon-close>
  </div>
  <div class='missing-hours-body-container'>
    <p class='missing-hours-warning-title'>Giorno Festivo</p>
    <div class='non-working-day-log-warning-message-container'>
      <p>Stai loggando su un giorno festivo</p>
      <p>Sei sicuro di volerlo fare?</p>
    </div>
    <div class='missing-hours-actions'>
      <div class='flex justify-center'>
        <button (click)='confirm()'
                class='missing-hours-dont-show-button'
                type='button'>Sì
        </button>
        <button (click)='back()' class='submit-button' type='submit'>No</button>
      </div>
    </div>
  </div>
</div>
