<div class="mt-4">
  <!-- header -->
  <div>
    <p class="text-5xl text-center">Statistiche del mese</p>
  </div>
  <!-- body -->
  <div class="w-full flex flex-col gap-y-6 p-4 mt-4 justify-center">
    <!-- remaining days to month end -->
    <div class="info-card ">
      <div>
        <p class="w-[98%] font-bold mr-4 text-xl">Giorni rimanenti alla fine del mese:</p>
      </div>
      <div>
        <p class="info-text-value text-4xl font-black">30</p>
      </div>
    </div>
    <!-- summary table -->
    <div class="flex justify-center">
      <div class="w-1/4 flex justify-center border-2 border-primary rounded-2xl gap-x-10">
      <!-- left summary -->
      <div class="info-summary">
        <div class="info-card">
          <div class="info-container-label">
            <p class="info-text-label">Ore segnate:</p>
          </div>
          <div class="info-container-value">
            <p class="info-text-value">100</p>
          </div>
        </div>
        <div class="info-card">
          <div class="info-container-label">
            <p class="info-text-label">Permessi presi:</p>
          </div>
          <div class="info-container-value">
            <p class="info-text-value">100</p>
          </div>
        </div>
        <div class="info-card">
          <div class="info-container-label">
            <p class="info-text-label">Ferie prese:</p>
          </div>
          <div class="info-container-value">
            <p class="info-text-value">100</p>
          </div>
        </div>
        <div class="info-card">
          <div class="info-container-label">
            <p class="info-text-label">Straordinari:</p>
          </div>
          <div class="info-container-value">
            <p class="info-text-value">100</p>
          </div>
        </div>
      </div>
      <!-- right summary -->
      <div class="info-summary">
        <div class="info-card">
          <div class="info-container-label">
            <p class="info-text-label">Ore da segnare:</p>
          </div>
          <div class="info-container-value">
            <p class="info-text-value">100</p>
          </div>
        </div>
        <div class="info-card">
          <div class="info-container-label">
            <p class="info-text-label">Notturni:</p>
          </div>
          <div class="info-container-value">
            <p class="info-text-value">100</p>
          </div>
        </div>
        <div class="info-card">
          <div class="info-container-label">
            <p class="info-text-label">Malattia:</p>
          </div>
          <div class="info-container-value">
            <p class="info-text-value">100</p>
          </div>
        </div>
        <div class="info-card">
          <div class="info-container-label">
            <p class="info-text-label">Infortuni:</p>
          </div>
          <div class="info-container-value">
            <p class="info-text-value">100</p>
          </div>
        </div>
        <div class="info-card">
          <div class="info-container-label">
            <p class="info-text-label">Permessi per lutto:</p>
          </div>
          <div class="info-container-value">
            <p class="info-text-value">100</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
