<div class='pt-8'>
  <!-- header -->
  <div>
    <p class='text-5xl text-center'>Statistiche del mese</p>
  </div>
  <!-- body -->
  <div class='w-full flex flex-col gap-y-6 mt-4'>
    <!-- remaining days to month end -->
    <div *ngIf='currentMonth == showedMonth' class='info-card flex flex-col gap-y-2'>
      <div class='flex justify-center items-center'>
        <p class='w-[98%] font-bold mr-4 text-xl'>Giorni rimanenti alla fine del mese:</p>
        <div [ngClass]="this.daysToMonthsEnd <= 7 ? 'text-red-500' : 'text-black'">
          <p class='info-text-value text-4xl font-black'>{{ this.daysToMonthsEnd }}</p>
        </div>
      </div>
      <!--     TODO make it appear in a proper way <p *ngIf="this.daysToMonthsEnd <= 7 && this.summary.toLogHours > 0"-->
      <!--         class="text-4xl text-red-500 font-black">{{'Ricordati di loggare le ' + this.summary.toLogHours + ' ore mancanti!'}}</p>-->
    </div>
    <!-- summary table -->
    <div class='flex justify-center'>
      <div class='w-3/8 flex justify-center border-2 border-primary rounded-2xl'>
        <!-- left summary -->
        <div class='info-summary'>
          <div class='info-card'>
            <div class='info-container-label'>
              <p class='info-text-label'>Ore segnate:</p>
            </div>
            <div class='info-container-value'>
              <p>{{ this.summary?.loggedHours }}</p>
              <p>{{ getHoursInDaysFormatter(this.summary?.loggedHours) }}</p>
            </div>
          </div>
          <div *ngIf='summary?.loggedPermitHours > 0' class='info-card'>
            <div class='info-container-label'>
              <p class='info-text-label'>Permessi usufruiti:</p>
            </div>
            <div class='info-container-value'>
              <p>{{ this.summary?.loggedPermitHours }}</p>
              <p>{{ getHoursInDaysFormatter(this.summary?.loggedPermitHours) }}</p>
            </div>
          </div>
          <div *ngIf='summary?.loggedHolidaysHours > 0' class='info-card'>
            <div class='info-container-label'>
              <p class='info-text-label'>Ferie usufruite:</p>
            </div>
            <div class='info-container-value'>
              <p>{{ this.summary?.loggedHolidaysHours }}</p>
              <p>{{ getHoursInDaysFormatter(this.summary?.loggedHolidaysHours) }}</p>
            </div>
          </div>
          <div *ngIf='summary?.loggedExtraHours > 0' class='info-card'>
            <div class='info-container-label'>
              <p class='info-text-label'>Straordinari:</p>
            </div>
            <div class='info-container-value'>
              <p>{{ this.summary?.loggedExtraHours }}</p>
              <p>{{ getHoursInDaysFormatter(this.summary?.loggedExtraHours) }}</p>
            </div>
          </div>
        </div>
        <!-- right summary -->
        <div class='info-summary'>
          <div class='info-card'>
            <div class='info-container-label'>
              <p class='info-text-label'>Ore da segnare:</p>
            </div>
            <div class='info-container-value'>
              <p>{{ this.summary?.toLogHours }}</p>
              <p>{{ getHoursInDaysFormatter(this.summary?.toLogHours) }}</p>
            </div>
          </div>
          <div *ngIf='summary?.loggedNightHours > 0' class='info-card'>
            <div class='info-container-label'>
              <p class='info-text-label'>Notturni:</p>
            </div>
            <div class='info-container-value'>
              <p>{{ this.summary?.loggedNightHours }}</p>
              <p>{{ getHoursInDaysFormatter(this.summary?.loggedNightHours) }}</p>
            </div>
          </div>
          <div *ngIf='summary?.loggedSicknessHours > 0' class='info-card'>
            <div class='info-container-label'>
              <p class='info-text-label'>Malattia:</p>
            </div>
            <div class='info-container-value'>
              <p>{{ this.summary?.loggedSicknessHours }}</p>
              <p>{{ getHoursInDaysFormatter(this.summary?.loggedSicknessHours) }}</p>
            </div>
          </div>
          <div *ngIf='summary?.loggedAccidentAtWorkHours > 0' class='info-card'>
            <div class='info-container-label'>
              <p class='info-text-label'>Infortuni:</p>
            </div>
            <div class='info-container-value'>
              <p>{{ this.summary?.loggedAccidentAtWorkHours }}</p>
              <p>{{ getHoursInDaysFormatter(this.summary?.loggedAccidentAtWorkHours) }}</p>
            </div>
          </div>
          <div *ngIf='summary?.loggedFuneralLeaveHours > 0' class='info-card'>
            <div class='info-container-label'>
              <p class='info-text-label'>Permessi per lutto:</p>
            </div>
            <div class='info-container-value'>
              <p>{{ this.summary?.loggedFuneralLeaveHours }}</p>
              <p>{{ getHoursInDaysFormatter(this.summary?.loggedFuneralLeaveHours) }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
