<div class='page' id='login-page'>
  <div class='flex flex-col h-full pt-20'>
    <img alt='logo' class='justify-start' src='../../../assets/img/logo_app.png' />
    <div class='input-container' id='input-container'>
      <form (submit)='login()' [formGroup]='loginForm' class='form'>
        <div class='field-container' id='username-field'>
          <svg class='login-icon' fill='currentColor' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'>
            <path clip-rule='evenodd' d='M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z' fill-rule='evenodd' />
          </svg>
          <input class='field' formControlName='username' placeholder='Username' />
        </div>
        <div class='field-container' id='password-field'>
          <icon-finger-print [height]='5' [width]='5'></icon-finger-print>
          <input
            [type]="hidePassword ? 'password' : 'text'"
            class='field'
            formControlName='password'
            placeholder='Password' />
          <app-password-eye (passwordStatus)='changeHidePassword($event)'
                            [hidePassword]='hidePassword'></app-password-eye>
        </div>
        <button [disabled]='this.loginForm.invalid' class='login-button' disabled type='submit'>Login</button>
      </form>
    </div>
  </div>
</div>
