<div [ngClass]='isDark() ? "dark" : ""' id='login-page'>
  <div class='page'>
    <div class='flex flex-col h-full justify-center'>
      <img *ngIf='!isDark()' alt='logo' class='justify-start' src='../../../assets/img/logo_app.png' />
      <img *ngIf='isDark()' alt='logo' class='justify-start' src='../../../assets/img/logo_app_dark.png' />
      <!-- input container -->
      <div class='input-container'>
        <form (submit)='login()' [formGroup]='loginForm' class='form'>
          <div class='field-container w-2/3'>
            <icon-user [height]='5' [width]='5' class='drop-shadow-lg h-5 w-5'></icon-user>
            <!-- user -->
            <input class='field w-full' formControlName='username' placeholder='Username' />
          </div>
          <div class='field-container w-2/3'>
            <icon-finger-print [height]='5' [width]='5' class='drop-shadow-lg h-5 w-5'></icon-finger-print>
            <!-- password -->
            <input
              [type]="hidePassword ? 'password' : 'text'"
              class='field w-full'
              formControlName='password'
              placeholder='Password' />
            <app-password-eye (passwordStatus)='changeHidePassword($event)'
                              [hidePassword]='hidePassword'></app-password-eye>
          </div>
          <button [disabled]='this.loginForm.invalid' class='login-button' disabled type='submit'>Login</button>
          <!-- password dimenticata -->
          <p [routerLink]='"reset-password"' class='font-black text-xs cursor-pointer'>Password dimenticata?</p>
        </form>
      </div>
    </div>
  </div>
</div>
