<!-- Title and close -->
<div class='dark:text-white'>
  <div class='dialog-close'>
    <icon-close (click)='back()' [height]='10' [width]='10' class='ml-auto cursor-pointer'></icon-close>
  </div>
  <h1 class='dialog-title'>Cambio password</h1>
  <form (ngSubmit)='changePassword()' [formGroup]='editPasswordForm'
        class='change-password-form' role='form'>
    <!-- old password field -->
    <div class='change-password-input-container justify-center'>
      <p>Password corrente</p>
      <div class='change-password-input-detail-container'>
        <input
          [formControlName]="'currentPassword'"
          [type]="hideCurrentPassword ? 'password' : 'text'"
          class='change-password-input'
        />
        <app-password-eye
          (passwordStatus)='changeHideCurrentPassword($event)'
          [hidePassword]='hideCurrentPassword'
          class='hide-password-button'></app-password-eye>
      </div>
    </div>
    <!-- password field -->
    <div class='change-password-input-container'>
      <p>Nuova password</p>
      <div class='change-password-input-detail-container'>
        <input
          [formControlName]="'password'"
          [type]="hideNewPassword ? 'password' : 'text'"
          class='change-password-input'
        />
        <app-password-eye
          (passwordStatus)='changeHideNewPassword($event)'
          [class]='"hide-password-button"'
          [hidePassword]='hideNewPassword'></app-password-eye>
      </div>
    </div>
    <!-- confirm password field -->
    <div class='change-password-input-container'>
      <p>Conferma nuova password</p>
      <div class='change-password-input-detail-container'>
        <input
          [formControlName]="'passwordConfirmation'"
          [type]="hideNewConfirmPassword ? 'password' : 'text'"
          class='change-password-input'
        />
        <app-password-eye
          (passwordStatus)='changeHideNewConfirmPassword($event)'
          [class]='"hide-password-button"'
          [hidePassword]='hideNewConfirmPassword'></app-password-eye>
      </div>
    </div>
    <!-- Actions -->
    <div class='change-password-actions'>
      <button [disabled]='this.editPasswordForm.invalid || isLoading' class='submit-button' type='submit'>
        Cambia Password
        <app-spinning-circle *ngIf='isLoading' [color]="'blue'"></app-spinning-circle>
      </button>
      <button (click)='back()' class='back-button' type='button'>Indietro</button>
    </div>
  </form>
</div>
