<!-- Title and close -->
<div class='dark:text-white'>
  <div class='flex items-center'>
    <icon-close (click)='back()' [height]='10' [width]='10' class='ml-auto cursor-pointer'></icon-close>
  </div>
  <h1 class='text-center text-4xl'>Cambio password</h1>
  <form (ngSubmit)='changePassword()' [formGroup]='editPasswordForm'
        class='flex flex-col gap-y-5 w-full items-center justify-center pt-6' role='form'>
    <!-- old password field -->
    <div class='flex flex-col items-center justify-center w-full'>
      <p>Password corrente</p>
      <div class='flex w-full items-center justify-center'>
        <input
          [formControlName]="'currentPassword'"
          [type]="hideCurrentPassword ? 'password' : 'text'"
          class='w-11/12 h-10 border text-center focus:outline-primary hover:outline-primary text-black'
        />
        <app-password-eye
          (passwordStatus)='changeHideCurrentPassword($event)'
          [hidePassword]='hideCurrentPassword'
          class='hide-password-button'></app-password-eye>
      </div>
    </div>
    <!-- password field -->
    <div class='flex flex-col items-center w-full'>
      <p>Nuova password</p>
      <div class='flex w-full items-center justify-center'>
        <input
          [formControlName]="'password'"
          [type]="hideNewPassword ? 'password' : 'text'"
          class='w-11/12 h-10 border text-center focus:outline-primary hover:outline-primary text-black'
        />
        <app-password-eye
          (passwordStatus)='changeHideNewPassword($event)'
          [class]='"hide-password-button"'
          [hidePassword]='hideNewPassword'></app-password-eye>
      </div>
    </div>
    <!-- confirm password field -->
    <div class='flex flex-col items-center w-full'>
      <p>Conferma nuova password</p>
      <div class='flex w-full items-center justify-center'>
        <input
          [formControlName]="'passwordConfirmation'"
          [type]="hideNewConfirmPassword ? 'password' : 'text'"
          class='w-11/12 h-10 border text-center focus:outline-primary hover:outline-primary text-black'
        />
        <app-password-eye
          (passwordStatus)='changeHideNewConfirmPassword($event)'
          [class]='"hide-password-button"'
          [hidePassword]='hideNewConfirmPassword'></app-password-eye>
      </div>
    </div>
    <!-- Actions -->
    <div class='flex justify-evenly items-end'>
      <button [disabled]='this.editPasswordForm.invalid || isLoading' class='submit-button' type='submit'>
        Cambia Password
        <app-spinning-circle *ngIf='isLoading' [color]="'blue'"></app-spinning-circle>
      </button>
      <button (click)='back()' class='back-button' type='button'>Indietro</button>
    </div>
  </form>
</div>
