<!-- Title and close -->
<div class="flex items-center">
  <icon-close [height]="10" [width]="10" class="ml-auto cursor-pointer" (click)="back()"></icon-close>
</div>
<h1 class="text-center text-4xl">
  Invio per email</h1>
<form role="form" class="flex flex-col gap-y-5" [formGroup]="emailForm" (ngSubmit)="sendEmailRequest()">
  <!-- email field -->
  <div formArrayName="emailAddresses" class="pt-5 flex flex-col items-center h-full gap-y-5">
    <div *ngFor="let email of emailAddresses.controls; let i = index"
         class="flex w-10/12 items-center justify-center gap-x-5">
      <input type="email" [formControlName]="i" [defaultValue]="1"
             class="w-full h-10 border text-center focus:outline-0">
      <button *ngIf="emailAddresses.controls.length > 1" class="text-red-400 hover:text-red-500"
              (click)="trashEmail(i)">
        <icon-delete [height]="10" [width]="10" class="w-2/12 ml-auto"></icon-delete>
      </button>
    </div>
    <icon-add *ngIf="emailAddresses.controls.length < 4" (click)="addRecipient()" [height]="30" [width]="30"
              class="text-primary"></icon-add>
  </div>
  <!-- invia a te stesso -->
  <div class="flex text-sm items-center justify-center gap-x-4 font-black">
    <p>Invia una copia al mio indirizzo email</p>
    <input type="checkbox" class="h-5 border">
  </div>
  <!-- Actions -->
  <div class="flex justify-evenly items-end">
    <button type="submit"
            class="submit-button"
            [disabled]="this.emailForm.invalid || isLoading">
      Invia per email
      <app-spinning-circle *ngIf="isLoading" [color]="'blue'"></app-spinning-circle>
    </button>
    <button type="button"
            class="back-button"
            (click)="back()">Indietro
    </button>
  </div>
</form>
