<div class="w-full grid grid-cols-10 pb-2 mt-4">
  <!-- left arrow -->
  <button (click)="previousMonth()" class="arrow-button col-start-1 col-end-3">
    <icon-leftarrow [height]="12" [width]="12"></icon-leftarrow>
  </button>
  <!-- formatted date = "month - year" -->
  <div class="flex justify-center items-center xl:text-7xl lg:text-5xl sm:text-6xl text-xl col-start-3 col-end-9"
       id="month-year">
    <h1>{{month + " - " + year}}</h1>
  </div>
  <!-- right arrow -->
  <button (click)="nextMonth()" class="arrow-button col-start-9 col-end-11">
    <icon-rightarrow [height]="12" [width]="12"></icon-rightarrow>
  </button>

</div>
<div class="flex w-full items-center justify-center pb-4 gap-x-5">
  <button (click)="goToCalendar()"><icon-edit-data [height]="6" [width]="6"></icon-edit-data></button>
  <button (click)="goToAnalytics()"><icon-analytics [height]="6" [width]="6"></icon-analytics></button>
  <button (click)="exportToExcel()"><icon-export [height]="6" [width]="6"></icon-export></button>
  <button><icon-share [height]="6" [width]="6"></icon-share></button>
</div>
